
body {
  background-color: rgb(73, 27, 199);
}

#board {
  width: 1500px;
  height: 800px;
  border: 10px solid rgb(0, 174, 255);
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  position: absolute;
   left: 350px;   /* Uncomment if you want to set a "starting" position */
  top: 50px;    /* Uncomment if you want to set a "starting" position */
}

#gameItem2 {
  background-color: rgb(18, 49, 224);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1350px;   /* Uncomment if you want to set a "starting" position */
   top: 350px;    /* Uncomment if you want to set a "starting" position */
}
#ball {
  background-color:rgb(168, 253, 89);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 750px;   /* Uncomment if you want to set a "starting" position */
  top: 350px;
}
